#
# Non-redistributable concrete dependencies source (PyPI), abstract dependencies
# declared on setup.py .
# Use this file to modify source (either remote or filesystem) for one or more dependency.
#

# Default parameter made explicit
--index-url https://pypi.python.org/simple/

# This causes pip to run "python setup.py develop" to install your package and resolve
# your dependencies (traditional Python package distribution)
--editable .
