#
# Non-redistributable concrete dependencies source (PyPI), abstract dependencies
# declared on setup.py .
# Use this file to modify source (either remote or filesystem) for one or more dependency.
#

# Default (implicit) parameter made explicit for clarity
--index-url https://pypi.python.org/simple/

# The current application is declared as dependency
# (i.e. trigger the transitive dependencies of the setup.py located in the current folder)
.
